h1 {
    text-align: center;
    color: var(--purple);
    margin-top: 12%;
}

.contact-article {
    background-color: var(--beige);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 20px;
}

.contact-article > p {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    line-height: 150%;
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: 25px;
    }

    .contact-article { 
        font-size: 15px;
    }
    
    .contact-article > p {
        width: 70%;
    }

}